/* Estilizacao do video - inicio*/
.bg-video {
    display: flex;
    position: absolute;
    /* z-index: quando negativo fica atras dos elemento, positivo fica na frente */
    z-index: -2;
    /* O mesmo ira ocupar 100% da ocupacao da tela altura e largura */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}

.bg-video .video {
    height: 100vh;
}

/* (::after)Adiciona um elemento depois da classe */
.bg-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.8) 50%,
            rgba(0, 0, 0, 1) 100%);
}

/* Estilizacao do video - fim*/

/* Estilizacao do container - inicio*/
.container {
    display: flex;
    position: relative;
    z-index: 3;
    height: 100vh;
}

/* Estilizacao do container - fim*/

/* Estilizacao do container__left - inicio*/
.container__left {
    width: 35%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score_box {
    background-color: #ffffff;
    padding: 30px;
}

.frame {
    border: 3px solid #000000;
    border-radius: 5px;
}

.card_details {
    display: flex;
    background-color: #ffffff;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
}

#card_name {
    font-size: 0.8rem;
}

#card_type {
    font-size: 1rem;
}

/* Estilizacao do container__left - fim*/

/* Estilizacao do container__right - inicio*/
.container__right {
    width: 65%;
}

.card-box__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem;
}

.card-box {
    display: flex;
    flex-direction: row;
    height: 9rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.card-versus__container {
    display: flex;
    flex-direction: column;
    padding-top: 0.1rem;
    margin-top: 2rem;
    height: 300px;
}

.versus-top,
.versus-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.card-infield {
    height: 11.2rem;
    width: 8rem;
    /* border: 1px solid #fff; */
    border-radius: 8px;
}

#next-duel {
    display: none;
}

/* Estilizacao do container__right - fim*/

/* Classe card - criada dinamicamente no engige.js */

.card {
    transition: transform 0.2s;
}

/* (:hover) Efeito quando passa o mouse em cima do elemnto */
.card:hover {
    transform: scale(1.2);
}